.headerLink {
  background-color: #ff7043;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 17px 100px;
  margin-top: 30px;
}
.headerLink:hover {
  color: white;
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 560px;
}
.header h1 {
  z-index: 5;
  font-weight: 300;
  font-size: 18vw;
}
.header p {
  z-index: 5;
  font-weight: 100;
  font-size: 5.8vw;
  width: 90%;
}
.header p span {
  font-weight: 500;
}
.headerImg {
  margin-top: 50px;
  width: 92%;
  max-width: 930px;
  height: auto;
}

@media only screen and ( min-width: 500px ){
  .header{
    background-size: 100% 700px;
  }
}

@media only screen and ( min-width: 600px){
  .header {
    margin-top: -120px;
    padding-top: 80px;
    background-size: 100% 830px;
  }
  .header h1 {
    margin-top: 50px;
    font-size: 69px;
    letter-spacing: 1px;
  }
  .header p {
    font-size: 33px;
  }
}